*{
    margin:0;
    padding:0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(images/start-page.png);
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* start page info :) */

.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-size: cover;
    background-position: center;
}


.start-page img {
    margin-bottom: -50px; 
    max-width: 80%;
    height: auto;
}

/* !!!!!!!!buttons below */

#startButton {
    cursor: pointer;
    width: 50%; 
    max-width: 20%; 
    height: auto; 
}

#startButton:hover {
    width: 150px;
    -webkit-filter: drop-shadow(5px 5px 5px #f0d351);
    filter: drop-shadow(5px 5px 5px #f0d351);

}

.optionButton {
    font-size: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #211E4B;
    transition-duration: 0.4s;
}
.optionButton.selected {
    background-color: #211E4B;
    color: white;
}
.optionButton:hover {
    background-color: #211E4B;
    color: white;
    cursor: pointer;
}

#nextButton {
    font-size: 20px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


#nextButton:hover {
    background-color: #211E4B;
    color: white;
    cursor: pointer;
}

/* !!!!!!!!buttons above */



/* quiz stuff! */
#quiz-page {
    width: 50%;
}


.questionheader {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

#questionNumber {
    font-size: 4vh;
    max-width: 30%;
    padding: 10px;
}

#questionText {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    text-align: center;
}

/* answer grid here */






/* progress bar COMPLETED DO NOT TOUCH */
#myProgress {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #211E4B;
    border-radius:20px;
  }


/* 
keep at the end  */
.hide {
    display: none;
}